body {
  background: linear-gradient(
      rgb(38, 38, 39),
      rgba(59, 56, 56, 0.4)
    ),
  url("https://images.unsplash.com/photo-1543269865-cbf427effbad?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
 ;
 background-size: cover;
  background-position: center;
  background-attachment: fixed;
  ;
}
.top-header {
  background-color: #2c3e50;
  padding: 20px 40px;
  color: white;
}

.top-header h1 {
  margin: 0;
}

.nav-links {
  margin-top: 5px;
}

.nav-links a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-size: 16px;
}

.create-event-wrapper {
  min-height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

.form-card {
  background: white;
  padding: 40px;
  width: 380px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.form-title {
  margin-bottom: 4px;
}

.form-subtitle {
  color: gray;
  margin-bottom: 20px;
}

form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

form button {
  width: 100%;
  padding: 12px;
  background: #1e88e5;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.form-note {
  margin-top: 10px;
  font-size: 12px;
  color: #888;
}
